@import url(/css/font.css);

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* ROOT */
:root {
  --color-navbar--primary: #141414;
  --color-navbar--secondary: #000;
  --color-primary: #eec643;
  --color-white: #fff;
  --font--primary: "Yekan";
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font--primary);
  font-size: 1.2rem;
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: var(--font--primary);
}

h2,
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 2rem;
  }
  h2,
  h3 {
    font-size: 4rem;
  }
}

/* BUTTON */
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/* NAV-BAR */
.main--navbar {
  background-color: var(--color-navbar--primary);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5rem;
}

.nav__logo a img {
  width: 10rem;
  height: 5rem;
}

.nav__toggler {
  background-color: var(--color-primary);
}

.nav__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.nav__search input {
  width: 33.2rem;
  height: 4.7rem;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  outline: none;
  border: none;
}

.nav__search button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.7rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--color-navbar--secondary);
  padding: 1.5rem;
}

/* NAV MODAL */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.overlay.show {
  display: block;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/* .close {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
} */

.modal__icon {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
}

.modal__icon #close {
  display: block;
  margin-left: 1rem;
}

/* ABOUT */

.about__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about--logo img {
  width: 24.1rem;
  height: 12rem;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.2rem;
}

.about__container p {
  color: var(--color-white);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-navbar--primary);
  width: 12.4rem;
  height: 12.4rem;
  padding-top: 1rem;
  border: 0.2rem solid var(--color-primary);
  outline: 0.2rem solid var(--color-navbar--primary);
  border-radius: 1rem;
}

.about--line {
  background: var(--color-navbar--secondary);
  width: 12.5rem;
  height: 0.1rem;
  display: none;
}

.about__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7rem;
}
.about--line {
  background: var(--color-navbar--secondary);
  width: 21.5rem;
  height: 0.2rem;
  display: block;
}

@media (min-width: 576px) {
  .about__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* FOOTER */

/* .main--footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
} */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}

.footer__icon img {
  width: 26.8rem;
  height: 13.4rem;
}

.footer__about {
  width: 31.1rem;
  height: 27rem;
  border-radius: 15px;
  overflow: hidden;
}

.footer__about--head {
  background-color: var(--color-navbar--primary);
  padding: 1.1rem 0;
  text-align: center;
  color: var(--color-primary);
}

.footer__about--head h2 {
  font-size: 2rem;
  font-family: var(--font--primary);
  font-weight: 700;
}

.footer__about--content {
  text-align: center;
  padding: 2rem;
  background-color: #eef0f2;
  font-family: var(--font--primary);
  font-size: 1.2rem;
  line-height: 230%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
}

.info__num span {
  font-size: 1.5rem;
  font-family: var(--font--primary);
  font-weight: 700;
}

.info__email span {
  font-size: 1.5rem;
  font-family: var(--font--primary);
  font-weight: 700;
}

.social__media {
  background-color: var(--color-navbar--primary);
  width: 21rem;
  height: 4.7rem;
  margin-top: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
