@import url(/css/font.css);

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* ROOT */
:root {
  --color-navbar--primary: #141414;
  --color-navbar--secondary: #000;
  --color-primary: #eec643;
  --color-white: #fff;
  --font--primary: "Yekan";
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font--primary);
  font-size: 1.2rem;
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: var(--font--primary);
}

h2,
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 2rem;
  }
  h2,
  h3 {
    font-size: 4rem;
  }
}

/* BUTTON */
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/* NAV-BAR */
.main--navbar {
  background-color: var(--color-navbar--primary);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5rem;
}

.nav__logo a img {
  width: 10rem;
  height: 5rem;
}

.nav__toggler {
  background-color: var(--color-primary);
}

.nav__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.nav__search input {
  width: 33.2rem;
  height: 4.7rem;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  outline: none;
  border: none;
}

.nav__search button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.7rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--color-navbar--secondary);
  padding: 1.5rem;
}

/* NAV MODAL */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.overlay.show {
  display: block;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  overflow: hidden;
  border-radius: 16px;
  border-top-right-radius: 0;
}

/* .close {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
} */

.modal__icon {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
}

.modal__icon .close {
  display: inline-block;
  padding-left: 3rem;
}

.modal__icon #close {
  display: block;
  padding: 0.5rem;
  margin-left: 1rem;
}

.modal__list {
  padding: 1rem 0.5rem 3rem 0.5rem;
}

.modal__list__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__list--item {
  width: 100%;
}

.modal__list--item a {
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  display: block;
  font-family: var(--font--primary);
  font-weight: 700;
  color: var(--color-navbar--secondary);
}

.modal__list--item a:focus {
  background-color: var(--color-navbar--primary);
  color: var(--color-white);
  border: none;
}
