<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer class="main--footer">
      <div class="footer">
        <div class="footer__icon">
          <img
            src="/assets/Images/footer/footer-icon.png"
            alt="web style icon"
          />
        </div>
        <div class="footer__about">
          <div class="footer__about--head">
            <h2>درباره ما</h2>
          </div>
          <div class="footer__about--content">
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
              نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
              کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
              جامعه و متخصصان را می طلبد، تا با .
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
