@import url(/assets/css/font.css);

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* ROOT */
:root {
  --color-navbar--primary: #141414;
  --color-navbar--secondary: #000;
  --color-primary: #eec643;
  --font--primary: "Yekan";
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font--primary);
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  font-family: var(--font--primary);
}

h2,
h3 {
  font-size: 1.5rem;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 2rem;
  }
  h2,
  h3 {
    font-size: 4rem;
  }
}
